.Clubs-Ace{background-image: url("ace_of_clubs.png"); 
display:inline-block;
 height: 200px; 
 width: 130px;}
.Clubs-2{background-image: url("PNG-cards/2_of_clubs.png");display:inline-block; height: 200px; width: 130px;}
.Clubs-3{background-image: url("PNG-cards/3_of_clubs.png");display:inline-block; height: 200px; width: 130px;}
.Clubs-4{background-image: url("PNG-cards/4_of_clubs.png");display:inline-block; height: 200px; width: 130px;}
.Clubs-5{background-image: url("PNG-cards/5_of_clubs.png");display:inline-block; height: 200px; width: 130px;}
.Clubs-6{background-image: url("PNG-cards/6_of_clubs.png");display:inline-block; height: 200px; width: 130px;}
.Clubs-7{background-image: url("PNG-cards/7_of_clubs.png");display:inline-block; height: 200px; width: 130px;}
.Clubs-8{background-image: url("PNG-cards/8_of_clubs.png");display:inline-block; height: 200px; width: 130px;}
.Clubs-9{background-image: url("PNG-cards/9_of_clubs.png");display:inline-block; height: 200px; width: 130px;}
.Clubs-10{background-image: url("PNG-cards/10_of_clubs.png");display:inline-block; height: 200px; width: 130px;}
.Clubs-Jack{background-image: url("PNG-cards/jack_of_clubs.png");
 display:inline-block;
  height: 200px;
   width: 130px;}
.Clubs-Queen{background-image: url("PNG-cards/queen_of_clubs.png");display:inline-block; height: 200px; width: 130px;}
.Clubs-King{background-image: url("PNG-cards/king_of_clubs.png");display:inline-block; height: 200px; width: 130px;}
.Diamonds-Ace{background-image: url("PNG-cards/ace_of_diamonds.png");display:inline-block; height: 200px; width: 130px;}
.Diamonds-2{background-image: url("PNG-cards/2_of_diamonds.png");display:inline-block; height: 200px; width: 130px;}
.Diamonds-3{background-image: url("PNG-cards/3_of_diamonds.png");display:inline-block; height: 200px; width: 130px;}
.Diamonds-4{background-image: url("PNG-cards/4_of_diamonds.png");display:inline-block; height: 200px; width: 130px;}
.Diamonds-5{background-image: url("PNG-cards/5_of_diamonds.png");display:inline-block; height: 200px; width: 130px;}
.Diamonds-6{background-image: url("PNG-cards/6_of_diamonds.png");display:inline-block; height: 200px; width: 130px;}
.Diamonds-7{background-image: url("PNG-cards/7_of_diamonds.png");display:inline-block; height: 200px; width: 130px;}
.Diamonds-8{background-image: url("PNG-cards/8_of_diamonds.png");display:inline-block; height: 200px; width: 130px;}
.Diamonds-9{background-image: url("PNG-cards/9_of_diamonds.png");display:inline-block; height: 200px; width: 130px;}
.Diamonds-10{background-image: url("PNG-cards/10_of_diamonds.png");display:inline-block; height: 200px; width: 130px;}
.Diamonds-Jack{background-image: url("PNG-cards/jack_of_diamonds.png");display:inline-block; height: 200px; width: 130px;}
.Diamonds-Queen{background-image: url("PNG-cards/queen_of_diamonds.png");display:inline-block; height: 200px; width: 130px;} 
.Diamonds-King{background-image: url("PNG-cards/king_of_diamonds.png");display:inline-block; height: 200px; width: 130px;}
.Hearts-Ace{background-image: url("PNG-cards/ace_of_hearts.png");display:inline-block; height: 200px; width: 130px;}
.Hearts-2{background-image: url("PNG-cards/2_of_hearts.png");display:inline-block; height: 200px; width: 130px;}
.Hearts-3{background-image: url("PNG-cards/3_of_hearts.png");display:inline-block; height: 200px; width: 130px;}
.Hearts-4{background-image: url("PNG-cards/4_of_hearts.png");display:inline-block; height: 200px; width: 130px;}
.Hearts-5{background-image: url("PNG-cards/5_of_hearts.png");display:inline-block; height: 200px; width: 130px;}
.Hearts-6{background-image: url("PNG-cards/6_of_hearts.png");display:inline-block; height: 200px; width: 130px;}
.Hearts-7{background-image: url("PNG-cards/7_of_hearts.png");display:inline-block; height: 200px; width: 130px;}
.Hearts-8{background-image: url("PNG-cards/8_of_hearts.png");display:inline-block; height: 200px; width: 130px;}
.Hearts-9{background-image: url("PNG-cards/9_of_hearts.png");display:inline-block; height: 200px; width: 130px;}
.Hearts-10{background-image: url("PNG-cards/10_of_hearts.png");display:inline-block; height: 200px; width: 130px;}
.Hearts-Jack{background-image: url("PNG-cards/jack_of_hearts.png");display:inline-block; height: 200px; width: 130px;}
.Hearts-Queen{background-image: url("PNG-cards/queen_of_hearts.png");display:inline-block; height: 200px; width: 130px;}
.Hearts-King{background-image: url("PNG-cards/king_of_hearts.png");display:inline-block; height: 200px; width: 130px;}
.Spades-Ace{background-image: url("PNG-cards/ace_of_spades.png");display:inline-block; height: 200px; width: 130px;}
.Spades-2{background-image: url("PNG-cards/2_of_spades.png");display:inline-block; height: 200px; width: 130px;}
.Spades-3{background-image: url("PNG-cards/3_of_spades.png");display:inline-block; height: 200px; width: 130px;}
.Spades-4{background-image: url("PNG-cards/4_of_spades.png");display:inline-block; height: 200px; width: 130px;}
.Spades-5{background-image: url("PNG-cards/5_of_spades.png");display:inline-block; height: 200px; width: 130px;}
.Spades-6{background-image: url("PNG-cards/6_of_spades.png");display:inline-block; height: 200px; width: 130px;}
.Spades-7{background-image: url("PNG-cards/7_of_spades.png");display:inline-block; height: 200px; width: 130px;}
.Spades-8{background-image: url("PNG-cards/8_of_spades.png");display:inline-block; height: 200px; width: 130px;}
.Spades-9{background-image: url("PNG-cards/9_of_spades.png");display:inline-block; height: 200px; width: 130px;}
.Spades-10{background-image: url("PNG-cards/10_of_spades.png");display:inline-block; height: 200px; width: 130px;}
.Spades-Jack{background-image: url("PNG-cards/jack_of_spades.png");display:inline-block; height: 200px; width: 130px;}
.Spades-Queen{background-image: url("PNG-cards/queen_of_spades.png");display:inline-block; height: 200px; width: 130px;}
.Spades-King{background-image: url("PNG-cards/king_of_spades.png");display:inline-block;}

#rightSide {
	position: right;

}

body{ 

background-color: green; }